h1{
  font-size: 65px;
  color: green;
  font-family: sans-serif;
  background-color: black;
}

#favoriteColor{
  background-color: orange;
  font-style: italic;
  line-height: 12px;
  text-align: center;
  text-decoration: underline;
}

.favColor{
  background-color: red;
}

p{
  font-weight: 600;
}

body{
  font-size: 16px;
  color: blue;
  background-color: lightgrey;
}